/* =============================================================================
 *   Remove Ribbon Style
 * ========================================================================== */

#columns {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#title-wrapper{
  div.container{
    min-height: 0.5rem;
  }
}

#header{
  text-align: center;
}

#branding{
  display: inline-block;
  float: none;
}

